.App {
  text-align: center;
}
input[type=text]
{
  width: 100%;
  margin: 10px 0px;
  padding: 6px;
}
.Img img{
  width: 100%;
}
.Img{
  padding: 0px !important;
}
.header{
  text-align: center;
}
.contain{
  padding:10px;
}
.group{
  margin-top:20px;
}
